.Home {
    color: black;
}
h1 {
    text-align: center;
    font-size: 200px;
}
p {
    text-align: center;
    font-size: 60px;
}
.imagery{
    width: 1920px;
    height: 600px;
    border: 10px 10px black;
    align-items: center;
    opacity: 0.5;
}